.fontsize {
  font-size: 14px !important;
}
.dich {
  margin-left: 30px !important;
}
.dddw {
  margin-left: 30px !important;
}
.custom-header-id{
  font-size: 1.4rem;
}
.input_porst{
  width: 300px!important;
  font-size: 1.5rem !important;
  border-width: 2px !important;
}